:root {
  --sn-stylekit-neutral-color: #b0ada9;
  --sn-stylekit-neutral-contrast-color: white;

  --sn-stylekit-info-color: #a2988b;
  --sn-stylekit-info-color-darkened: #322f2b;
  --sn-stylekit-info-contrast-color: white;
  --sn-stylekit-info-backdrop-color: #edebe8;

  --sn-stylekit-success-color: #06c76c;
  --sn-stylekit-success-contrast-color: white;

  --sn-stylekit-warning-color: #ffa346;
  --sn-stylekit-warning-contrast-color: white;

  --sn-stylekit-danger-color: #fc4f43;
  --sn-stylekit-danger-contrast-color: white;

  --sn-stylekit-shadow-color: #c8c8c8;
  --sn-stylekit-background-color: #ffffff;

  --sn-stylekit-border-color: #dcdbd9;
  --sn-stylekit-foreground-color: #322f2b;

  --sn-stylekit-contrast-background-color: #f8f7f5;
  --sn-stylekit-contrast-foreground-color: #322f2b;
  --sn-stylekit-contrast-border-color: #dcdbd9;

  --sn-stylekit-secondary-background-color: #f8f7f5;
  --sn-stylekit-secondary-foreground-color: #5a5650;
  --sn-stylekit-secondary-border-color: #dcdbd9;

  --sn-stylekit-secondary-contrast-background-color: #ffffff;
  --sn-stylekit-secondary-contrast-foreground-color: #322f2b;
  --sn-stylekit-secondary-contrast-border-color: #a2a2a2;

  --sn-stylekit-editor-background-color: var(--sn-stylekit-background-color);
  --sn-stylekit-editor-foreground-color: var(--sn-stylekit-foreground-color);

  --sn-stylekit-paragraph-text-color: #454545;

  --sn-stylekit-input-placeholder-color: #a8a8a8;
  --sn-stylekit-input-border-color: #e3e3e3;

  --sn-stylekit-scrollbar-thumb-color: #dcdbd9;
  --sn-stylekit-scrollbar-track-border-color: #dcdbd9;

  --sn-stylekit-theme-type: light;
  --sn-stylekit-theme-name: sn-cozy;

  --sn-stylekit-passive-color-0: #575453;
  --sn-stylekit-passive-color-1: #7e7b78;
  --sn-stylekit-passive-color-2: #c4c0ba;
  --sn-stylekit-passive-color-3: #e4dfd8;
  --sn-stylekit-passive-color-4: #f1ece5;
  --sn-stylekit-passive-color-4-opacity-variant: #c4c0ba3d;
  --sn-stylekit-passive-color-5: #f7f2ea;
  --sn-stylekit-passive-color-6: #e5e0d9;
  --sn-stylekit-passive-color-super-light: #f9f4ec;

  --sn-stylekit-accessory-tint-color-1: #00aee6;
  --sn-stylekit-accessory-tint-color-2: #fe88bc;
  --sn-stylekit-accessory-tint-color-3: #eace17;
  --sn-stylekit-accessory-tint-color-4: #9f77ff;
  --sn-stylekit-accessory-tint-color-5: #06c76c;
  --sn-stylekit-accessory-tint-color-6: #ffa346;

  --modal-background-color: var(--sn-stylekit-background-color);

  --editor-header-bar-background-color: var(--sn-stylekit-background-color);
  --editor-background-color: var(--sn-stylekit-editor-background-color);
  --editor-foreground-color: var(--sn-stylekit-editor-foreground-color);
  --editor-title-bar-border-bottom-color: var(--sn-stylekit-border-color);
  --editor-title-input-color: var(--sn-stylekit-editor-foreground-color);
  --editor-pane-background-color: var(--sn-stylekit-background-color);
  --editor-pane-editor-background-color: var(--sn-stylekit-editor-background-color);
  --editor-pane-editor-foreground-color: var(--sn-stylekit-editor-foreground-color);
  --editor-pane-component-stack-item-background-color: var(--sn-stylekit-background-color);

  --text-selection-color: var(--sn-stylekit-foreground-color);
  --text-selection-background-color: var(--sn-stylekit-info-backdrop-color);

  --note-preview-progress-color: var(--sn-stylekit-info-color);
  --note-preview-progress-background-color: var(--sn-stylekit-passive-color-4-opacity-variant);

  --note-preview-selected-progress-color: var(--sn-stylekit-secondary-background-color);
  --note-preview-selected-progress-background-color: var(--sn-stylekit-passive-color-4-opacity-variant);

  --items-column-background-color: var(--sn-stylekit-background-color);
  --items-column-items-background-color: var(--sn-stylekit-background-color);
  --items-column-border-left-color: var(--sn-stylekit-border-color);
  --items-column-border-right-color: var(--sn-stylekit-border-color);
  --items-column-search-background-color: var(--sn-stylekit-contrast-background-color);
  --item-cell-selected-background-color: var(--sn-stylekit-contrast-background-color);
  --item-cell-selected-border-left-color: var(--sn-stylekit-info-color);

  --navigation-column-background-color: var(--sn-stylekit-secondary-background-color);
  --navigation-section-title-color: var(--sn-stylekit-secondary-foreground-color);
  --navigation-item-text-color: var(--sn-stylekit-secondary-foreground-color);
  --navigation-item-count-color: var(--sn-stylekit-neutral-color);
  --navigation-item-selected-background-color: var(--sn-stylekit-info-backdrop-color);

  --preferences-navigation-icon-color: var(--sn-stylekit-neutral-color);
  --preferences-navigation-selected-background-color: var(--sn-stylekit-info-backdrop-color);
  --preferences-background-color: var(--sn-stylekit-contrast-background-color);

  --dropdown-menu-radio-button-inactive-color: var(--sn-stylekit-passive-color-1);

  --panel-resizer-background-color: var(--sn-stylekit-secondary-contrast-background-color);
  --link-element-color: var(--sn-stylekit-info-color);

  --normal-button-background-color: var(--sn-stylekit-background-color);

  --popover-background-color: var(--sn-stylekit-background-color);
  --popover-border-color: var(--sn-stylekit-border-color);

  --separator-color: var(--sn-stylekit-border-color);
}