:root {

  --sn-paper-fg: hsl(36, 5%, 20%);
  --sn-paper-border: hsl(36, 5%, 86%);

  --sn-paper-grey-00: hsl(36, 5%, 35%);
  --sn-paper-grey-01: hsl(36, 5%, 65%);
  --sn-paper-grey-02: hsl(36, 5%, 80%);
  --sn-paper-grey-03: hsl(36, 5%, 93%);
  --sn-paper-grey-04: hsl(36, 5%, 95%);
  --sn-paper-grey-05: hsl(36, 5%, 98%);

  --sn-paper-hi-blue: #00aee6;
  --sn-paper-hi-pink: #fe88bc;
  --sn-paper-hi-yellow: #dbc413;
  --sn-paper-hi-purple: #9f77ff;
  --sn-paper-hi-green: #06c76c;
  --sn-paper-hi-orange: #ffa346;

  --sn-paper-notice-success: #069854;
  --sn-paper-notice-warning: #948300;
  --sn-paper-notice-danger: #ff1b24;

  --sn-paper-selection-yellow: #eee8c0;
  --sn-paper-selection-blue: #00aee614;

  --sn-stylekit-neutral-color: var(--sn-paper-grey-01);
  --sn-stylekit-neutral-contrast-color: white;

  --sn-stylekit-info-color: var(--sn-paper-grey-00);
  --sn-stylekit-info-color-darkened: var(--sn-paper-fg);
  --sn-stylekit-info-contrast-color: white;
  --sn-stylekit-info-backdrop-color: var(--sn-paper-grey-03);

  --sn-stylekit-success-color: var(--sn-paper-notice-success);
  --sn-stylekit-success-contrast-color: white;

  --sn-stylekit-warning-color: var(--sn-paper-notice-warning);
  --sn-stylekit-warning-contrast-color: white;

  --sn-stylekit-danger-color: var(--sn-paper-notice-danger);
  --sn-stylekit-danger-contrast-color: white;

  --sn-stylekit-shadow-color: #c8c8c8;
  --sn-stylekit-background-color: #ffffff;

  --sn-stylekit-border-color: var(--sn-paper-border);
  --sn-stylekit-foreground-color: var(--sn-paper-fg);

  --sn-stylekit-contrast-background-color: var(--sn-paper-grey-05);
  --sn-stylekit-contrast-foreground-color: var(--sn-paper-fg);
  --sn-stylekit-contrast-border-color: var(--sn-paper-border);

  --sn-stylekit-secondary-background-color: var(--sn-paper-grey-05);
  --sn-stylekit-secondary-foreground-color: var(--sn-paper-grey-00);
  --sn-stylekit-secondary-border-color: var(--sn-paper-border);

  --sn-stylekit-secondary-contrast-background-color: var(--sn-paper-grey-05);
  --sn-stylekit-secondary-contrast-foreground-color: var(--sn-paper-fg);
  --sn-stylekit-secondary-contrast-border-color: var(--sn-paper-border);

  --sn-stylekit-editor-background-color: var(--sn-stylekit-background-color);
  --sn-stylekit-editor-foreground-color: var(--sn-stylekit-foreground-color);

  --sn-stylekit-paragraph-text-color: var(--sn-paper-grey-00);

  --sn-stylekit-input-placeholder-color: var(--sn-paper-grey-00);
  --sn-stylekit-input-border-color: var(--sn-paper-border);

  --sn-stylekit-scrollbar-thumb-color: var(--sn-paper-border);
  --sn-stylekit-scrollbar-track-border-color: var(--sn-paper-border);

  --sn-stylekit-theme-type: light;
  --sn-stylekit-theme-name: sn-paper;

  --sn-stylekit-passive-color-0: var(--sn-paper-grey-00);
  --sn-stylekit-passive-color-1: var(--sn-paper-grey-01);
  --sn-stylekit-passive-color-2: var(--sn-paper-grey-02);
  --sn-stylekit-passive-color-3: var(--sn-paper-grey-03);
  --sn-stylekit-passive-color-4: var(--sn-paper-grey-04);
  --sn-stylekit-passive-color-4-opacity-variant: var(--sn-paper-grey-04);
  --sn-stylekit-passive-color-5: var(--sn-paper-grey-05);
  --sn-stylekit-passive-color-6: var(--sn-paper-grey-04);
  --sn-stylekit-passive-color-super-light: var(--sn-paper-grey-05);

  --sn-stylekit-accessory-tint-color-1: var(--sn-paper-hi-blue);
  --sn-stylekit-accessory-tint-color-2: var(--sn-paper-hi-pink);
  --sn-stylekit-accessory-tint-color-3: var(--sn-paper-hi-yellow);
  --sn-stylekit-accessory-tint-color-4: var(--sn-paper-hi-purple);
  --sn-stylekit-accessory-tint-color-5: var(--sn-paper-hi-green);
  --sn-stylekit-accessory-tint-color-6: var(--sn-paper-hi-orange);

  --modal-background-color: var(--sn-stylekit-background-color);

  --editor-header-bar-background-color: var(--sn-stylekit-background-color);
  --editor-background-color: var(--sn-stylekit-editor-background-color);
  --editor-foreground-color: var(--sn-stylekit-editor-foreground-color);
  --editor-title-bar-border-bottom-color: var(--sn-stylekit-border-color);
  --editor-title-input-color: var(--sn-stylekit-editor-foreground-color);
  --editor-pane-background-color: var(--sn-stylekit-background-color);
  --editor-pane-editor-background-color: var(--sn-stylekit-editor-background-color);
  --editor-pane-editor-foreground-color: var(--sn-stylekit-editor-foreground-color);
  --editor-pane-component-stack-item-background-color: var(--sn-stylekit-background-color);

  --text-selection-color: var(--sn-stylekit-foreground-color);
  --text-selection-background-color: var(--sn-paper-selection-yellow);

  --note-preview-progress-color: var(--sn-stylekit-info-color);
  --note-preview-progress-background-color: var(--sn-stylekit-passive-color-4-opacity-variant);

  --note-preview-selected-progress-color: var(--sn-stylekit-secondary-background-color);
  --note-preview-selected-progress-background-color: var(--sn-stylekit-passive-color-4-opacity-variant);

  --items-column-background-color: var(--sn-stylekit-background-color);
  --items-column-items-background-color: var(--sn-stylekit-background-color);
  --items-column-border-left-color: var(--sn-stylekit-border-color);
  --items-column-border-right-color: var(--sn-stylekit-border-color);
  --items-column-search-background-color: var(--sn-stylekit-contrast-background-color);
  --item-cell-selected-background-color: var(--sn-stylekit-contrast-background-color);
  --item-cell-selected-border-left-color: var(--sn-stylekit-info-color);

  --navigation-column-background-color: var(--sn-stylekit-secondary-background-color);
  --navigation-section-title-color: var(--sn-stylekit-secondary-foreground-color);
  --navigation-item-text-color: var(--sn-stylekit-secondary-foreground-color);
  --navigation-item-count-color: var(--sn-stylekit-neutral-color);
  --navigation-item-selected-background-color: var(--sn-stylekit-info-backdrop-color);

  --preferences-navigation-icon-color: var(--sn-stylekit-neutral-color);
  --preferences-navigation-selected-background-color: var(--sn-stylekit-info-backdrop-color);
  --preferences-background-color: var(--sn-stylekit-contrast-background-color);

  --dropdown-menu-radio-button-inactive-color: var(--sn-stylekit-passive-color-1);

  --panel-resizer-background-color: var(--sn-stylekit-secondary-contrast-background-color);
  --link-element-color: var(--sn-stylekit-info-color);

  --normal-button-background-color: var(--sn-stylekit-background-color);

  --popover-background-color: var(--sn-stylekit-background-color);
  --popover-border-color: var(--sn-stylekit-border-color);

  --separator-color: var(--sn-stylekit-border-color);

  .Lexical__link {
    color: var(--sn-stylekit-foreground-color);
    background: linear-gradient(to bottom, transparent 50%, rgba(255, 204, 0, 0.4) 50%);
    padding: 2px 4px;
  }

  .Lexical__link:hover {
    color: var(--sn-stylekit-foreground-color);
    background-color: rgba(255, 204, 0, 0.4);
  }

  .z-editor-title-bar.rounded-full {
    background-color: var(--sn-stylekit-background-color);
    color: var(--sn-stylekit-info-color);
    border: solid var(--sn-stylekit-info-color);
    border-width: 2px;
  }

  .toggled.rounded-full {
    background-color: var(--sn-stylekit-background-color);
    color: var(--sn-stylekit-info-color);
    border: solid var(--sn-stylekit-info-color);
    border-width: 2px;
  }

}